body {
    font-size: 16px;
    background-color: #f4f4f4;
    font-family: sans-serif;
}

h1 {
    font-size: 2em;
    padding-top: 2%;
    padding-bottom: 2%;
}

h2 {
    font-size: 1.6em;
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*Best font style in my opinion. Simple, elegant and suits most indistries*/
}

h3 {
    font-size: 1.4em;
    padding: 1%;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 2%;
    margin-top: 2%;
}

.inner-wrapper {
    width: 90%;
    margin: 0 auto;
}

header,
footer {
    background-color: #393939;
    padding: 2em 0;
    color: ivory;
    text-align: right;
}

header {
    height: 15%;
    text-decoration: solid;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: xx-large;
    justify-content: center;
    background-image:linear-gradient(to right, rgb(6, 6, 6), rgb(45, 45, 45)); /*Adds a bit of excitement and energy to the page*/
    font-weight: bolder;
}

footer {
    padding-top: 4%;
    padding-bottom: 5%;
}

.hero {
    text-align: center;
    background-image: linear-gradient(to left, #00438a, #005dc1); /*Colours are important to the context of the site. Explained in detail in reflection file*/
    color: #c9c200;
    font-size: xx-large;
    text-decoration: underline;
    min-height: 5em;
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%; /*Softens the text box that little bit more, so it's not so harsh to look at*/
    font-style: italic;
}



main {
    margin-bottom: 2%;
}

.logo {
    float: left; /*Logo goes on the left, text goes on the right for header and footer. Helps space out the site and offers clear distinction between the two*/
}

.action {
    max-width: 100%;
    max-height: 100%; /*These commands ensure that the image looks good regardless of screen width*/
}